torch>=2.1.0
torchvision>=0.16.0
numpy>=1.26
opencv-python>=4.8
matplotlib>=3.8
tqdm
pyyaml
accelerate
wandb
swanlab
jupyter
ipykernel
lerobot
# CALVIN 仿真评估 (仅 eval.py Success Rate 模式需要)
gym==0.21.0
mujoco==2.3.0
mujoco-py==2.1.2.14
cython<3.0
tensorboard
calvin @ git+https://github.com/mees/calvin.git@main
